{
    # Debug
    {$CADDY_DEBUG}
}

{$SERVER_NAME}

log

@pwa expression `(!path('/graphql*', '/internal*', '/bundles*', '/contexts*', '/_profiler*', '/_wdt*'))`

route {
    root * /app/public
    reverse_proxy @pwa {
            to https://{$PWA_UPSTREAM}
            transport http {
                tls
                tls_insecure_skip_verify
                read_buffer 8192
            }
        }

    php_fastcgi {$PHP_SOCKET}
    encode zstd gzip
    file_server
}
